@use "./variables.scss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: variables.$bg;
  color: variables.$text-primary;
}

.dashboard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 20px ;
}
h1,
h2 {
  margin: 0;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 400px));
  gap: 16px;
}
@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(2,  minmax(250px, 400px));
  }
}


@media (max-width: 800px) {
  .list {
    grid-template-columns:  minmax(250px, 400px);
  }
}
